h1 {
	font-size: 3em;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
}

.logo {
	
	
	float: right; 
	margin-top: -150px;
	animation-name: turn;
	animation-duration: 6s; 
animation-iteration-count: infinite;

}

@keyframes turn {
	0% { transform: rotate(0deg);
} 50% {
	transform: rotate(90deg);}
	100% {
		transform: rotate(180deg);
	}
}