    html {
        background-color: rgb(136, 105, 156);
    }
    
    header {
        text-align: center;
        color: rgb(255, 187, 0);
        font-family: sans-serif;
        font-size: 3em;
        text-transform: uppercase;
        text-decoration: overline underline;
        text-shadow: 1px 1px 5px rgb(73, 72, 71);
    }
    
    h2 {
        color: rgb(255, 187, 0);
        font-family: 'Trebuchet MS';
        font-size: 2em;
        margin-left: 1em;
    }
    
    h3 {
        color: whitesmoke;
        font-family: "Trebuchet MS"
    }
    
    p {
        font-family: sans-serif;
        color: white;
    }
    
    #grid-floats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        justify-content: space-around;
    }
    
    #grid-floats .grid-item {
        justify-self: center;
        background-color: rgb(112, 92, 106);
        border-radius: 20%;
    }
    
    li:nth-child(1) {
        grid-column: 1/3;
    }
    
    #grid-floats img {
        float: left;
        width: 50%;
        height: 50%;
        padding: 5px 5px 5px 5px;
        border-radius: 30%;
    }
    
    #grid-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        flex-shrink: 3;
        grid-template-areas: "header" "section   section  section";
    }
    
    #grid-flex>ul>li:nth-child(1) {
        flex-basis: 33%;
    }
    
    #grid-flex .grid-item {
        background-color: rgb(112, 92, 106);
        border-radius: 20%;
        width: 18%;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #grid-flex img {
        width: 15%;
        height: 25%;
        padding: 5px 5px 5px 5px;
    }
    
    @media only screen and (max-width: 375px) {
        #grid-floats {
            grid-template-areas: "header" "section" "section";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
    
    @media only screen and (max-width:375px) {
        li:nth-child(1) {
            grid-column: 1/3;
        }
    }
    
    @media only screen and (min-width:376px) and (max-width:768px) {
        #grid-floats {
            grid-template-areas: "header" "section  section" "section";
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
    
    @media only screen and (min-width:376px) and (max-width:768px) {
        li:nth-child(1) {
            grid-column: 2/3;
            align-items: stretch;
        }
    }